html {
  background-color: #404040;
}

p {
  color: #d2caca;
  font-family: 'Arapey', serif;
  text-align: center;
}

.sight, .mind {
  font-family: 'Nothing You Could Do', cursive;
}

@media only screen and (min-width: 25em) {

  html {
    background-color: #333333;
  }

}
@media only screen and (min-width: 38em) {

  html {
    background-color: #1F1F1F;
  }

}

@media only screen and (min-width: 60em) {

html {
  background-color: #0D0D0D;
}

}
